html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


header .portfolio-header-content {
    padding: 10px 15px;
}

body {
  overflow-x: hidden;
}

aside {
    padding: 0px 0; */
}

nav ul a,
nav .brand-logo {
  color: #ccc;
}

nav ul a:hover {
    background-color: rgba(255, 255, 255, 0.18);
}

.dark-grey {
	background-color: #222!important;
}

p {
  line-height: 2rem;
}

strong {
  font-weight: 700;
}

#btn-white {
	background-color: #fff;
    color: #212121;
}

#btn-gold {
  background-color: #BF9240;
    color: #fff;
}

.button-collapse {
  color: #BF9240;
}

.parallax-container .section {
  width: 100%;
}

.hover-effect-ul:hover > li {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.22),0 1px 8px 0 rgba(0,0,0,0.22),0 7px 8px -1px rgba(0,0,0,0.2);
  transition: box-shadow .25s;
}

.margin-auto {
  margin: auto!important;
}

@media (min-width: 0px) {
  section.casestudy {
  margin: 40px 0;
  }
}

@media only screen and (min-width: 960px) {
.flow-text {
    font-size: 1.3rem;
}
}

@media (min-width: 980px) {
  section.casestudy {
    padding: 20px 0;
  }
}

@media (max-width: 415px) {
.container {
    margin: 0 0;
    width: 100%;
    padding-left: 5;
    padding-right: 5;
}
}

/** animations **/
/**------------**/

/** burst **/
@keyframes burst {
  0% {
    opacity: .6;
  }

  50% {
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.faa-burst.animated,
.faa-burst.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-burst {
  -webkit-animation: burst 3s infinite linear;
  animation: burst 3s infinite linear;
}

/** bounce **/
@keyframes bounce {
0%, 10%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
40%, 60% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.faa-bounce.animated, .faa-bounce.animated-hover:hover, .faa-parent.animated-hover:hover>.faa-bounce {
    -webkit-animation: bounce 2s ease infinite;
    animation: bounce 2s ease infinite;
}


/** material boxed **/

.materialboxed {
  max-height: none!important;
}

.materialboxed.active {
  margin: auto;
}
/** spacing **/

.top-margin-10 {
	margin-top: 10px;
}

.top-margin-20 {
	margin-top: 20px;
}

.top-margin-30 {
	margin-top: 30px;
}

.top-margin-50 {
	margin-top: 50px;
}

.space-after {
  margin-bottom: 3rem;
}

/** card **/
div.card > div.right-align {
    margin-top: -30px;
    margin-right: 20px;
}

div.card > div.card-action {
  padding: 20px 10px;
}

.gold-card {
	border-style: solid;
    border-width: 3px;
    border-color: rgb(204, 172, 112);
    box-sizing: border-box;
    border-radius: 2px;
}
/** **/

/** raised button on click **/

.z-depth-1-half, .btn:active, .btn-large:active, .btn-floating:active {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.22),0 1px 8px 0 rgba(0,0,0,0.22),0 7px 8px -1px rgba(0,0,0,0.2);
}


/** gold button **/

/*
    When creating your CSS selector,
    change "brown" to something of your choosing
    */
    .waves-effect.waves-yellow .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: rgba(201, 175, 127, 0.85);
    }

/** **/


/** Home Page **/

section.add-padding {
  padding: 80px 0 40px;
}
@media (max-width: 979px) {
  section.home {
    padding: 80px 0;
  }
}

#portfolio {
	background-color: #222;
}

#portfolio-title {
	color: #fff;
}

a {
	color: #BF9240;
}

a:focus, a:hover {
	text-decoration: none;
}

#index-header{
	background-image:url(../img/header-img-3.jpeg);
}

@media only screen and (min-width : 769px) {
  h1#home_heading {
    margin-bottom: 0px;
    right: 4rem;
    color: #222;
  }
}
@media only screen and (min-width : 960px) {
  #profile-div{
    height:33rem;
  }
  #profile_pic{
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  }
  h1#ck {
    display: inherit;
  }
}

/** Ascend Page **/

#ascend-header {
	margin-top: 20px;
}

#header-ascend {
	background-image: url(http://www.philipck.com/wp-content/uploads/2016/06/Header-Image-1.png);
}

.img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

#img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.ascend-cards {
	max-height: 100%;
	padding: 0;
}

hr.blue {
    border-color: rgb(47, 170, 206);
    border-width: 3px;
    max-width: 50px;
}

.text-blue {
    color: rgb(47, 170, 206);
}

.blue-card {
  border-style: solid;
    border-width: 3px;
    border-color: rgb(47, 170, 206);
    box-sizing: border-box;
    border-radius: 2px;
}

.blue-card-feedback {
  border-style: solid;
    border-width: 3px;
    border-color: rgb(47, 170, 206);
    box-sizing: border-box;
    border-radius: 13px;
}


.blue-border {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(47, 170, 206);
}

.blue-border-bot-none {
  border-style: solid solid none solid;
  border-width: 3px;
  border-color: rgb(47, 170, 206);
}

.blue-border-top-none {
  border-style: none solid solid solid;
  border-width: 3px;
  border-color: rgb(47, 170, 206);
}

.collapsible.popout>li.active {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    margin: 16px 0;
    border-style: solid;
    border-width: 3px;
}



@media only screen and (min-width : 768px) {
  #ascend-header {
    margin-top: 140px;
  }
}

